<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css')}}">

<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid d-flex justify-content-between">
        <span class="navbar-brand">Gym XXXX</span>
            <a href="/logout" class="btn btn-outline-light">Logout</a>
    </div>
</nav>


<div class="container mt-5">

    <h1 class="mb-4">Dashboard Admin</h1>

</div>
<h2>Usuarios</h2>
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
    </tr>
    {% for u in users%}
    <tr>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.role}}</td>
    </tr>
    {% endfor %}
</table>

<hr>


<h2>Clases</h2>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Horario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% for c in clases %}
    <tr>
        <td>{{c.name}}</td>
        <td>{{c.schedule}}</td>
        <td>
            <a href="/delete_class/{{c.id}}" class="btn btn-danger"
                onclick="return confirm('¿Seguro que quieres eliminar?')">Eliminar</a>
            <a href="/edit_class/{{c.id}}" class="btn btn-success">Editar</a>
        </td>
    </tr>
    {% endfor %}
</table>


<h2>Crear nueva clase</h2>
<form action="/create_class" method="POST" class="mb-5">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Horario</label>
        <input type="datetime-local" name="schedule" class="form-control">
    </div>

    <button class="btn btn-primary">Crear Clase</button>
</form>

<hr>