<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css')}}">

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<h2 class="text-center mb-4">Login</h2>
<form action="/login" method="POST">

  <div class="mb-3 text-center">
        <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="mb-3 text-center">
        <input type="password" name="password" placeholder="Password" required>
    </div>
  <br>
  <div class="mb-3 text-center">
    <button type="submit" class="btn btn-primary mb-2">Ingresar</button>
  </div>
  <div class="mb-3 text-center">
  <a href="/register" class="btn btn-success">Registrarse</a>
  </div>
</form>

